extends layout 

block content
  h1= title
  
  div(class="list")
    ul
      each item in items
        li 
          h2 
            a(href=item.url) #{item.name} 
            | (#{parseInt(item.price)}G)
          p #{item.description} <em>(#{item.stock} in stock)</em>